polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-unit-files" &&
        /^dum-upgrade@.+\.service$/.test(action.lookup("unit")) &&
        action.lookup("verb") == "start" &&
        subject.user == "deepin-update-manager") {
            return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});
